# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*

# =========================
# Dependencies
# =========================
node_modules

# =========================
# Build Output
# =========================
dist
dist-ssr
.vite
coverage

# =========================
# Environment Files
# =========================
.env
.env.*.local

# =========================
# Cache
# =========================
.cache
.eslintcache

# =========================
# Local Files
# =========================
*.local

# =========================
# Editor
# =========================
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?